
<h1>Welcome To GenGapp</h1> <br><br>
<h2>Our Mission: </h2>

<ul style="list-style-type:square">
  <li><h4>Is to bring the generations together.</h4></li>
  <li><h4>Connect the ones that can spend time to with the ones that need it.</h4></li>
  <li><h4>Keep generations organically engaged &  narrow down the ever widening cultural gaps. </h4></li>
  <li><h4>Share the wisdom of an amazing life time with the budding next generations. </h4></li>
  <li><h4>Remind the retired & elderly that their company & time is still valued and cherished</h4></li>
  <li><h4>Give the ever advancing younger generations a window to look into their past generations</h4></li>
  <li><h4>Enable knowledge sharing & cultural Immersion possible like never before! </h4></li>
 </ul>
 <br>
 <br>

 <h2>Our Future: </h2>
  <ul style="list-style-type:square">
     <li><h4>Our vision is to offer a broad range of services in the future like sharing Life Experiences, Adventures,Recepies, Mentoring & Reverse Mentoring, Virtual BabySitting and much more</h4></li>
     <li><h4>We will start with Story Telling services in our infancy while we master the art of connecting generations</h4></li>
    <li><h4>Any one can use Gengapp.Be sure to look out for special incentives for elderly and children.</h4></li>
  </ul>

<br>
<br>

<h2>Our Mantra: </h2>
  <ul style="list-style-type:square">
  <h4>When the experienced are connected with the curious the possibilities can be endless! </h4>
</ul>
<br>


