
<h1>Welcome To GenGapp</h1>


<ul style="list-style-type:square">
  <li><h4>We bring the generations together.</h4></li>
  <li><h4>The ones that have some time to spare with the ones that would love to get some time.</h4></li>
  <li><h4>We bridge the gap, We keep them engaged. </h4></li>
  <li><h4>We connect the ones who can share amazing stories to the curious listeners. </h4></li>
  <li><h4>We make knowledge sharing & cultural Immersion possible like never before! </h4></li>
  <li><h4>We will focus on <B>Story Telling services</B> in our infancy while we master this art of connecting generations</h4></li>
  <li><h4> We envision to offer a broad range of services in the future like sharing <B>Adventures</B>, <B>Recepies</B> and much more</h4></li>
  <li><h4>We are so excited  about our mission & hope to peek your interest in trying us out</h4></li><br>

 </ul>
