
<h1>Welcome To GenGapp</h1> <br><br>
<h2>Our Mission Is To: </h2>

<ul style="list-style-type:square">
  <li><h4>Bring the generations together.</h4></li>
  <li><h4>Share the wisdom of an amazing life time with the curious next generations. </h4></li>
  <li><h4>Keep generations engaged & bridge the cultural gaps. </h4></li>
  <li><h4>Children and elderly both yearn for company why not connect them so they give each other company.</h4></li>
  <li><h4>Remind the retired & elderly that their company & time is still valued and cherished</h4></li>
  <li><h4>Give the ever younger generations a clear pane of glass to peek into their past generations</h4></li>
  <li><h4>Bridging Generations &  acheiving cultural Immersion like never before! </h4></li>
 </ul>
 <br>
 <br>

 <h2>Our Future: </h2>
  <ul style="list-style-type:square">
     <li><h4>Our vision is to offer a broad range of services in the future like sharing Life Experiences, Adventures,Recepies, Mentoring & Reverse Mentoring, Virtual BabySitting and much more</h4></li>
     <li><h4>We will start with Story Telling services in our infancy while we master the art of connecting generations</h4></li>
    <li><h4>Any one can use Gengapp.Be sure to look out for special incentives for elderly and children.</h4></li>
  </ul>

<br>
<br>

<h2>Our Mantra: </h2>
  <ul style="list-style-type:square">
  <h4>When the experienced are connected with the curious the outcomes are miraculous! </h4>
</ul>
<br>


