<div class="jumbotron">
  <h1> Connecting Generations </h1>
  <h2> Keeping Them Enagaged.</h2>
</div>




          
        
          <%= raw(@embed_code) %>
         
 
@embed_code = %Q{<iframe width="380" height="270" src= "<%= %Q{https://www.youtube.com/embed/QdtL2nPuc6k} %>" ? frameborder = "0" allowfullscreen></iframe>}.html_safe

@embed_code = %Q{<iframe width="380" height="270" src= "<%= %Q{https://slate.adobe.com/a/DKPPX} %>" ? frameborder = "0" allowfullscreen></iframe>}.html_safe

@embed_code = <iframe src="//voice.adobe.com/a/4Dnjm/embed/" width="380" height="270" frameborder="0" allowfullscreen></iframe>